<h1 class="text-center my-3">Formulario <small>template-driven</small></h1>
<form [noValidate]="false" (ngSubmit)="save(formulario)" #formulario="ngForm">
  <div class="row mb-1">
    <div class="col">
      <label class="form-label">Nombre</label>
      <input
        type="text"
        name="nombre"
        class="form-control"
        placeholder="Nombre"
        aria-label="Nombre"
        [(ngModel)]="usuario.nombre"
        required
      />
    </div>
  </div>
  <div class="row mb-1">
    <div class="col">
      <label class="form-label">Apellido</label>
      <input
        type="text"
        name="apellido"
        class="form-control"
        placeholder="Apellido"
        aria-label="Apellido"
        [(ngModel)]="usuario.apellido"
        required
      />
    </div>
  </div>
  <div class="row mb-1">
    <div class="col">
      <label class="form-label">Correo</label>
      <input
        type="email"
        name="correo"
        class="form-control"
        placeholder="Correo"
        aria-label="Correo"
        pattern="[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
        [(ngModel)]="usuario.correo"
        required
      />
    </div>
  </div>
  <div class="row mb-1">
    <div class="col">
      <label class="form-label">País</label>
      <select
        name="pais"
        class="form-control"
        aria-label="País"
        [(ngModel)]="usuario.pais"
        required
      >
        <option value="" disabled selected>Seleccionar un país</option>
      </select>
    </div>
  </div>
  <button type="submit" class="btn btn-primary mt-2">Submit</button>
</form>
